.community-membership {
    background-color: var(--bs-primary);  // Fondo morado oscuro
    padding: 80px 0;

    .gallery-item {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); // Sombra inicial
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: scale(1.05); // Efecto de zoom
            box-shadow: 0 8px 25px rgba(255, 215, 0, 0.8); // Sombra dorada intensa
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            transition: filter 0.3s ease; // Transición para el brillo

            &:hover {
                filter: brightness(1.2); // Aumentar brillo al pasar el ratón
            }
        }

        .gallery-info {
            margin-top: 15px;

            h5 {
                font-size: 1.2rem;
                color: #FFD700;
                font-family: 'Cinzel', serif;
            }

            p {
                font-size: 1rem;
                color: #555;
            }
        }
    }
}
