
// Aplicar las fuentes globalmente
body {
    font-family: $font-family-base !important;
    font-weight: 600;
    line-height: 1.6;
    color: #333; // Ajusta según la identidad de tu marca
}

// Aplicar la fuente de títulos a todos los encabezados
h1, h2, h3, h4, h5, h6 {
    font-family: $headings-font-family !important;
    font-weight: $headings-font-weight !important; // Asegúrate de que la fuente esté bien visible
}

// Forzar la fuente en párrafos y enlaces si aún no toma la correcta
p, a {
    font-family: $font-family-base !important;
    font-weight: 600;
    font-size: 18px;
}

// Wsp Button
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
    }

    i {
        font-size: 30px;
        color: white;
    }
}

@media only screen and (max-width: 600px) {
    .whatsapp-button {
        width: 50px;
        height: 50px;
        bottom: 15px;
        right: 15px;

        i {
            font-size: 24px;
        }
    }
}

.btn-spotify {
    background-color: $spotify-green;
    border: 2px solid transparent;
    color: $white;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 50px; // Bordes redondeados grandes
    display: inline-flex;
    align-items: center;
    transition: all 0.3s ease;
    box-shadow: $shadow-default;
    font-size: 16px;

    // Estilo para el icono dentro del botón
    i {
        font-size: 24px; // Tamaño del icono
        margin-left: 10px; // Separación entre el texto y el icono
        transition: all 0.3s ease;
    }

    // Efecto hover
    &:hover {
        background-color: $spotify-green-hover;
        box-shadow: $shadow-hover; // Sombra más grande en hover
        transform: scale(1.07); // Aumento más notable de tamaño
        border-color: $white; // Borde blanco en hover
        i {
            transform: rotate(10deg); // Ligera rotación del icono en hover
        }
    }

    // Efecto al hacer click (active)
    &:active {
        transform: scale(0.98); // Efecto de click
        box-shadow: $shadow-light; // Sombra más suave al hacer clic
    }

    // Adaptación para pantallas pequeñas
    @media (max-width: 576px) {
        font-size: 14px;
        padding: 10px 20px;
        i {
            font-size: 20px;
            margin-left: 8px;
        }
    }

    // Adaptación para pantallas medianas
    @media (max-width: 768px) {
        font-size: 15px;
        padding: 10px 25px;
        i {
            font-size: 22px;
            margin-left: 8px;
        }
    }
}
                                                                                                                                

.shadow-custom {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25); // Sombra sutil y difusa
    background-color: rgba(255, 255, 255, 0.05); // Fondo semi-transparente para destacar la sección
    padding: 3rem;
    border-radius: 10px; // Bordes suavemente redondeados
    transition: box-shadow 0.3s ease;

    // Efecto hover para mayor interacción
    &:hover {
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35); // Sombra más pronunciada en hover
    }
}

body {
    font-family: 'Cormorant Garamond', serif;
    overflow-x: hidden;
    background-color: #001f3f !important;
}

/* Estilos adicionales para los enlaces (quitar marcas de haber sido utilizado) */
a {
    &:visited {
        color: var(--bs-white); /* Mantener el color blanco para los links visitados */
    }

    &:focus {
        outline: none; /* Quitar el contorno de enfoque */
        border-bottom: 2px solid var(--bs-selector); /* Agregar un borde inferior en el enfoque */
    }
}

                                                                                                                                        