.free-resources {
    background-color: var(--bs-secondary-opacity-5); // Fondo suave
    padding: 80px 0;

    .title {
        margin-bottom: 30px;

        h2 {
            font-size: 2.5rem;
            color: #FFD700; // Dorado brillante
            font-family: 'Cinzel', serif;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
        }

        p {
            font-size: 1.2rem;
            color: #888;
        }
    }

    .resource-item {
        position: relative;
        padding: 20px;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
        }

        .resource-icon {
            font-size: 3rem;
        }

        h5 {
            font-size: 1.5rem;
            color: #FFD700; // Dorado brillante
            font-family: 'Cinzel', serif;
        }

        p {
            font-size: 1rem;
            color: #555;
        }

        .btn-gold {
            background-color: #FFD700;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-weight: bold;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #FFC107; // Dorado más brillante
            }
        }
    }
}
