
/* Post */

// Estilos para el contenido del post
.entry-title {
    font-size: 2.5rem;
    color: $primary;
    margin-bottom: 1rem;
}

.entry-content {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
}

.entry-footer {
    margin-top: 2rem;
    border-top: 1px solid $gray;
    padding-top: 1rem;
}

.post-navigation {
    .nav-subtitle {
        font-weight: bold;
        color: $info;
    }

    .nav-title {
        color: $primary;
    }
}
